.habib{
    color: gray;
    font-size: 70px;
}
.container{
    display: flex;
    justify-content: center;
    /* border: 1px dashed red; */
    align-items: center;
    height: 90vh;
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 50px;
    /* border: 2px solid blueviolet; */
}
.login-form input{
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    
}
.btn{
    width: 20%;
    padding: 10px;
    background-color: orangered;
    color: white;
    

}
.botton{
    display: flex;justify-content: center;
    